* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
  touch-action: none;
}

.hidden {
  display: none;
}

#canvasOverlay {
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  color: green;
}

p {
   position: absolute;
   text-align: center;
   transform: translate(-50%, -50%);
   max-width: 100vw;
   white-space: nowrap;
   overflow-x: auto;
}